.img1{
    width:50px;
    
}
.main-container{
    background-color:beige;
}
.corosel-container{
    height:500px;
}
.img2{
    height:400px;
}
.img3{
    height:400px;
    border-radius:20px;
}
.img4{
    height:300px;
    width:300px
}
.img-container{
    border-radius:30px;
}
.list1{
    list-style-type:none;
}
ul li a{
    text-decoration:none;
    list-style-type:none;
}
.links{
    text-decoration:none;
}